<h3>Books Count by Category</h3>

<table class="table table-striped table-hover mt-3">
  <thead class="table-dark">
  <tr>
    <th>Category</th>
    <th class="text-end">Book Count</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td class="text-end fw-bold"><%= category.books_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>
